@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@layer components{
  .box-main{
    @apply flex flex-col rounded-md p-5 text-center shadow-md justify-center items-center
  }
  .size-screen{
    @apply px-5 md:px-10 lg:px-20 xl:px-36
  }
}